@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');


*
{
    padding:0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}


img{
    width:100%;
    display: flex;
}

a{
    text-decoration:none;
}


body{
    font-family: 'Poppins', Helvetica Neue;
    background-color:#ccc;
    
}

nav{
    max-width:1200px;
    margin: auto;
    padding:2rem 1rem;
    display:flex;
    align-items:center ;
    justify-content: space-between;
    gap:2rem;
}

.nav-logo{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: grey;
}

.link a::after{
    content:"";
    position: absolute;
    height:2px;
    width:0;
    bottom:0;
    left:0;
    background-color: blue;
    transition: all 0.3s ease;
}
.link a:hover::after{
    width: 70%;
}
.btn{
    padding: 1rem 2rem;
    font-family: 1rem;
    color: #fff;
    background-color: blue;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: blue;
}

.container
{
    max-width: 1200px;
    margin: auto;
    padding:5rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px blue;
    z-index: -100;
}

header{
    position: relative;
    padding: 2rem;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items:center;
    gap:2rem;
}

header .content h2{
    margin-bottom: 1rem;
    color:blue;
    font-size:1rem ;
    font-weight: 600;
}
header .content h1{
    color:black;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}
header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
}
header .content p{
    margin-bottom: 2rem;
    color:black;
}
header .imge{
    position: relative;
}
header .image::before{
    content: "o";
    position: absolute;
    top: 0;
    left: 80%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color:blue;
    opacity : 0.2;
    z-index: -100;

}
header .image img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color:black;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:2rem;

}

.features .card{
    background-color: silver;
    padding:1rem;
    border:2px solid transparent;
    border-radius: 15px;
    transition:all 0.3s ease;


}
.features .card:hover{
    background-color:skyblue;
    border-color: black;

}
.features .card span{
    display: inline-block;
    background-color: blue;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color:black;
    border-radius:5x;
}
.features .card h4{
    margin-bottom: 0.5rem;
    color:black;
    font-size:1.2rem;
    font-weight:600;
}
.features .card p{
    color:black;
    margin-bottom:1rem;
}

.features .card a{
    color:black;
    transition: all 0.3s ease;
}
.features .card a:hover{
    color:blue;
}
.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color:grey;
}

.pricing{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.pricing .card{
    padding: 3rem 2rem;
    background-color:silver;
    display: flex;
    flex-direction: column;
    border:2px solid transparent;
    border-radius: 15px;
    transition: all o.3s ease;
}

.pricing .card:hover{
    background-color: skyblue;
    border-color:black;

}

.pricing .card .content{
    flex:1;
    margin-bottom: 2rem;

}

.pricing .card h4{
    margin-bottom: 1rem;
    color:black;
    font-size:1.2rem;
    font-weight: 500;
}
.pricing .card h3{
    color:black;
    padding-bottom:1rem ;
    margin-bottom: 2rem;
    font-size:2rem ;
    font-weight:600 ;
    border-bottom:2px dashed black ;
}

.pricing .card p{
    color:black;
    margin-bottom: 0.75rem;
}

.pricing .card p i{
    color:#ccc;
    font-size:1.2rem;
    margin-right: 0.3rem;
}

.pricing .card button{
    color:black;
    background-color:transparent;
    border:2px solod #fff;

}

.pricing .card button:hover{
    background-color:blue;
    border-color: cadetblue;
}
footer{
    position:relative;
    display:grid;
    grid-template-columns:400px repeat(3,14fr) ;
    gap:2rem;
}
footer .column .logo{
     max-width: 100px;
     margin-bottom: 2rem;
}
footer .column p
{
    color:black;
    margin-bottom: 2rem;
}
footer .column .social{
    display:flex;
    align-items: center;
    gap:1rem;
}
footer .column .social a{
    color:#ccc;
    border:1px solid #ccc;
    padding:5px 10px;
    font-size:1.25rem;
    border-radius: 100%;
    transition:all 0.3s ease;
}

footer .column .social a:hover
{
    color:black;
    background-color:gainsboro;
    border-color:blue;
}
footer .column h4
{
    color:black;
    margin-bottom:2rem;
    font-size:1.2rem;
    font-weight:500;
}

footer .column > a{

    display: block;
    color:gray ;
    margin-bottom:1rem;
    transition:all 0.3s ease;
}

footer .column > a:hover
{
    max-width:1200px;
    margin:auto;
    padding:1rem;
    color:black;
    font-size:0.8rem;
    text-align: center;
}
@media (width < 900px){
    .nav-links{
        display:none;
    }
    header{
        grid-template-columns:repeat(1,1fr);
    }
    header .image{
        grid-area:1/2/2;
    }
    .features{
        grid-template-columns:repeat(2,1fr);
    }
    .pricing{
        grid-template-columns:repeat(2,1fr);
    }
    footer{
        grid-template-columns:1fr 200px;  
    }
}
@media (width < 600px) {
    header .image::before{
        display:none;
    }
    .features{
        grid-template-columns: repeat(1.1fr);
    
    }
    .pricing{
        grid-template-columns: repeat(1.1fr);
    }
    footer{
        grid-template-columns: 1fr 150px;
    }
}